# Misc
.idea/
.DS_Store
*.iml
*.ipr

# Images
*.jpg
*.jpeg
*.png

# Files
*.csv

# Logs & env
.env
*.log

# Models
assets/models
assets/images
assets/outputs
assets/pipelines

# Secret migration
assets/migrations/00005_add_secret.*
